<ion-header translucent>
  <ion-toolbar>
    <ion-title *ngIf="post">Reply {{post.docId}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="post">
    <ion-img *ngIf="post.img" [src]="post.img"></ion-img>
    <ion-text>
      <p id="title" *ngIf="post.title">{{post.title}}</p>
      <p id="text">{{post.text}}</p>
      <p id="timestamp" color="primary" *ngIf="post.timestamp">Posted At {{getDate(post.timestamp)}}</p>
    </ion-text>
</ion-card>


  <form [formGroup]="new_reply_form" (submit)="createReply(new_reply_form.value)">
    <ion-item>
      <ion-label position="stacked">Text</ion-label>
      <ion-textarea type="text" formControlName="text" required=true></ion-textarea>
    </ion-item>

    <ion-button class="submit-btn" expand="block" (click)="selectImage()">
      Add Image
    </ion-button>

    <ion-img *ngIf="imgFile" style="border-radius: 10px; overflow:hidden;" [src]="imgFile"></ion-img>

    <ion-button class="submit-btn" expand="block" type="submit" disabled={{!new_reply_form.valid}}>
      Create Reply
    </ion-button>

  </form>

</ion-content>
