<ion-header id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="current_post">{{current_post.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" padding>

  <ion-item *ngIf="current_post" class="reply" lines="none">
    <ion-text>
      <h5 (click)="createReply(current_post)" class="postId">No. {{current_post.docId}}</h5>
      <ion-img (click)="expandImg(current_post.img)" [src]="current_post.img"></ion-img>
      <p class="postTitle">{{current_post.title}}</p>
      <p class="postText">{{current_post.text}}</p>
    </ion-text>
  </ion-item>

  <!--This will populate all the replys to the post-->

   <ion-item *ngFor="let reply of post_replys" class="reply" lines="none">
     <ion-text>
       <h5 (click)="createReply(reply)" class="postId">No. {{reply.docId}}</h5>
       <p class="postText">{{reply.text}}</p>
       <p class="replyTo">Replying to : {{reply.replyTo}}</p>
     </ion-text>
   </ion-item>

</ion-content>

