<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button (click)="routeTo('./change-theme')">
    <ion-icon slot="start" src="/assets/icon/color-palette-outline.svg" color="dark"></ion-icon>
    <ion-label>
      Change Theme
    </ion-label>
  </ion-item>

  <ion-item button (click)="routeTo('./app-info')">
    <ion-icon slot="start" name="information-circle-outline" color="dark"></ion-icon>
    <ion-label>
      About App
    </ion-label>
  </ion-item>

  <ion-item (click)="presentAlertConfirm()" lines=none>
    <ion-label color="danger" style="text-align: center;">
      Clear Your Posts
    </ion-label>
  </ion-item>
</ion-content>
